$palette: (
  50 : #fef1e4,
  100 : #fcddbc,
  200 : #fbc68f,
  300 : #f9af62,
  400 : #f79d40,
  500 : #f68c1e,
  600 : #f5841a,
  700 : #f37916,
  800 : #f26f12,
  900 : #ef5c0a,
  A100 : #ffffff,
  A200 : #ffede5,
  A400 : #ffcab3,
  A700 : #ffb999,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
