<form (ngSubmit)="submit()" [formGroup]="form" class="client__form">
  <div class="client__row">
    <div class="client__control">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput/>
        <mat-error *ngIf="hasError('name', 'required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>

    <div class="client__control">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput/>
        <mat-error *ngIf="hasError('email', 'required')">Campo obrigatório!</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">E-mail com formato inválido!</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="client__row">
    <div class="client__control">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input formControlName="cpf" mask="000.000.000-00" matInput/>
        <mat-error *ngIf="hasError('cpf', 'required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>

    <div class="client__control">
      <mat-form-field appearance="outline">
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="gender">
          <mat-option [value]="'MALE'">Masculino</mat-option>
          <mat-option [value]="'FEMALE'">Feminino</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('gender', 'required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="client__row">
    <div class="client__actions">
      <div class="client__action">
        <button mat-raised-button routerLink="/" type="button">Voltar</button>
      </div>

      <div class="client__action client__action--save">
        <button [disabled]="loading" color="primary" mat-raised-button type="submit">
          <mat-spinner *ngIf="loading" [diameter]="15" color="primary"></mat-spinner>
          Salvar
        </button>
      </div>
    </div>
  </div>
</form>
