<table [dataSource]="data" class="table" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Nome</th>
    <td *matCellDef="let element" mat-cell> {{ element?.name }}</td>
  </ng-container>

  <ng-container matColumnDef="fabrication">
    <th *matHeaderCellDef mat-header-cell>Fabricação</th>
    <td *matCellDef="let element" mat-cell> {{ element?.fabrication === 'NATIONAL' ? 'Nacional' : 'IMPORTED' }}</td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th *matHeaderCellDef mat-header-cell>Tamanho</th>
    <td *matCellDef="let element" mat-cell> {{ element.size | number }} cm</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th *matHeaderCellDef mat-header-cell>Preço</th>
    <td *matCellDef="let element" mat-cell> {{ element.price | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef class="table__head-actions" mat-header-cell></th>
    <td *matCellDef="let element; let idx = index" mat-cell>
      <div class="table__actions">
        <button (click)="edit(element.id)" class="table__edit" mat-icon-button matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="remove(idx, element.id)" class="table__delete" mat-icon-button matTooltip="Remover">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="5">
      <span class="table__empty">
        <mat-icon>inbox</mat-icon>
        Nenhum produto encontrado
      </span>
    </td>
  </tr>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
