<form (ngSubmit)="submit()" [formGroup]="form" class="product__form">
  <div class="product__row">
    <div class="product__control">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput/>
        <mat-error *ngIf="hasError('name', 'required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>

    <div class="product__control">
      <mat-form-field appearance="outline">
        <mat-label>Fabricação</mat-label>
        <mat-select formControlName="fabrication">
          <mat-option [value]="'NATIONAL'">Nacional</mat-option>
          <mat-option [value]="'IMPORTED'">Importado</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('fabrication', 'required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="product__row">
    <div class="product__control">
      <mat-form-field appearance="outline">
        <mat-label>Tamanho</mat-label>
        <input formControlName="size" matInput min="0" type="number"/>
        <span class="product__measure" matSuffix>cm</span>
        <mat-error *ngIf="hasError('size', 'required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>

    <div class="product__control">
      <mat-form-field appearance="outline">
        <mat-label>Preço</mat-label>
        <span class="product__measure" matPrefix>R$</span>
        <input formControlName="price" matInput min="0" type="number"/>
        <mat-error *ngIf="hasError('price', 'required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="product__row">
    <div class="product__actions">
      <div class="product__action">
        <button mat-raised-button routerLink="/produtos" type="button">Voltar</button>
      </div>

      <div class="product__action product__action--save">
        <button [disabled]="loading" color="primary" mat-raised-button type="submit">
          <mat-spinner *ngIf="loading" [diameter]="15" color="primary"></mat-spinner>
          Salvar
        </button>
      </div>
    </div>
  </div>
</form>
