<mat-card class="client">
  <mat-card-header>
    <mat-card-title>Edição de Cliente</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="!loading.submit; else LoadingTemplate">
      <app-client-form (onSubmit)="onSubmit($event)" [initialValue]="client" [loading]="!!loading.submit"></app-client-form>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #LoadingTemplate>
  <div class="client__loading">
    <app-loading></app-loading>
  </div>
</ng-template>
