<mat-card class="client">
  <mat-card-header class="client__header">
    <mat-card-title>Clientes</mat-card-title>
    <button class="client__add" color="primary" mat-raised-button routerLink="novo">
      <mat-icon>add</mat-icon>
      Adicionar
    </button>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="!loading; else LoadingTemplate">
      <app-client-list-table (removeItem)="remove($event)" [data]="clients"></app-client-list-table>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #LoadingTemplate>
  <div class="client__loading">
    <app-loading></app-loading>
  </div>
</ng-template>
