<table [dataSource]="data" class="table" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Nome</th>
    <td *matCellDef="let element" mat-cell> {{ element?.name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell>E-mail</th>
    <td *matCellDef="let element" mat-cell> {{ element?.email }}</td>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <th *matHeaderCellDef mat-header-cell>CPF</th>
    <td *matCellDef="let element" mat-cell> {{ element?.cpf | mask: '000.000.000-00' }}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th *matHeaderCellDef mat-header-cell>Sexo</th>
    <td *matCellDef="let element" mat-cell> {{ element?.gender === 'MALE' ? 'Masculino' : 'Feminino' }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef class="table__head-actions" mat-header-cell></th>
    <td *matCellDef="let element; let idx = index" mat-cell>
      <div class="table__actions">
        <button (click)="edit(element.id)" class="table__edit" mat-icon-button matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="remove(idx, element.id)" class="table__delete" mat-icon-button matTooltip="Remover">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="5">
      <span class="table__empty">
        <mat-icon>inbox</mat-icon>
        Nenhum cliente encontrado
      </span>
    </td>
  </tr>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
